.ui {
    display: flex;
    justify-content: center;
}

.search-bar * {
    margin: 10px;
    border-radius: 10px;
}

.ui>button {
    margin: 10px;
    border-radius: 10px;
}

.ui>select {
    margin: 10px;
    border-radius: 10px;
}

#users-header {
    text-align: center;
}


#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.user-container:hover {
    
}

#users a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.user {
    height: 300px;
    width: 360px;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    overflow: scroll
}

.user-pic {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.user:not(.single-user):hover {
    height: 310px;
    width: 370px;
    background-color: dodgerblue;
    transition: 0.3s
}

.user::-webkit-scrollbar {
    display: none;
}

.user-container > .delete-button {
    width: 50px;
    background-color: rgb(255, 50, 50);
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user-container > .delete-button:hover {
    background-color: rgb(255, 0, 51);
    transition: 0.3s
}